<div class="container">
  <h3>Редактор каталога </h3>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">

          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-group">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Clothes
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
<!--1st inside-->
                  <div class="accordion accordion-flush" id="accordion11">
                    <div class="accordion-group">
                      <h2 class="accordion-header" id="flush-heading11">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse11" aria-expanded="false" aria-controls="flush-collapse11">
                          Mens
                        </button>
                      </h2>
                      <div id="flush-collapse11" class="accordion-collapse collapse" aria-labelledby="flush-heading11" data-bs-parent="#accordion11">
                        <div class="accordion-body">
                          <!--2 inside-->
                          <a routerLink="menclothes" class="text-dark"  role="button">Outerwear</a>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-group">
                      <h2 class="accordion-header" id="flush-heading12">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse12" aria-expanded="false" aria-controls="flush-collapse12">
                          Womens
                        </button>
                      </h2>
                      <div id="flush-collapse12" class="accordion-collapse collapse" aria-labelledby="flush-heading12" data-bs-parent="#accordion11">
                        <div class="accordion-body">
                          <a routerLink="womenclothes" class="text-dark"  role="button">Outerwear</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--1st inside-->
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Shoes
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
<!--2-->
                  <div class="accordion accordion-flush" id="accordion21">
                    <div class="accordion-group">
                      <h2 class="accordion-header" id="flush-heading21">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse21" aria-expanded="false" aria-controls="flush-collapse21">
                          Mens
                        </button>
                      </h2>
                      <div id="flush-collapse21" class="accordion-collapse collapse" aria-labelledby="flush-heading21" data-bs-parent="#accordion21">
                        <div class="accordion-body">
                          <!--2 inside-->
                          <a routerLink="menshoes" class="text-dark"  role="button">Shoes</a>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-group">
                      <h2 class="accordion-header" id="flush-heading22">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse22" aria-expanded="false" aria-controls="flush-collapse22">
                          Womens
                        </button>
                      </h2>
                      <div id="flush-collapse22" class="accordion-collapse collapse" aria-labelledby="flush-heading22" data-bs-parent="#accordion21">
                        <div class="accordion-body">
                          <a routerLink="womenshoes" class="text-dark"  role="button">Shoes</a>
                        </div>
                      </div>
                    </div>
                  </div>
<!--2-->

                </div>
              </div>
            </div>
            <div class="accordion-group">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Trousers
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
<!--3-->
                  <div class="accordion accordion-flush" id="accordion31">
                    <div class="accordion-group">
                      <h2 class="accordion-header" id="flush-heading31">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse31" aria-expanded="false" aria-controls="flush-collapse31">
                          Mens
                        </button>
                      </h2>
                      <div id="flush-collapse31" class="accordion-collapse collapse" aria-labelledby="flush-heading31" data-bs-parent="#accordion31">
                        <div class="accordion-body">
                          <!--2 inside-->
                          <a routerLink="mentrousers" class="text-dark"  role="button">Trousers</a>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-group">
                      <h2 class="accordion-header" id="flush-heading32">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse32" aria-expanded="false" aria-controls="flush-collapse32">
                          Womens
                        </button>
                      </h2>
                      <div id="flush-collapse32" class="accordion-collapse collapse" aria-labelledby="flush-heading32" data-bs-parent="#accordion31">
                        <div class="accordion-body">
                          <a routerLink="womentrousers" class="text-dark"  role="button">Trousers</a>
                        </div>
                      </div>
                    </div>
                  </div>
<!--3-->
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body p-3 border bg-light">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
