<div class="d-flex flex-row bd-highlight mb-3">
  <div class="form-froup row" style="width: 60%">
    <label class="col-sm2 col-form-label">Clothes Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="WomenClothesName" placeholder="Enter Clothes Name">
    </div>
    <label class="col-sm2 col-form-label">Clothes Price</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="WomenClothesPrice" placeholder="Enter Clothes Price">
    </div>
    <label class="col-sm2 col-form-label">Clothes Quantity</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="WomenClothesQuantity" placeholder="Enter Clothes Quantity">
    </div>
  </div>
  <div class="ml-3 bd-highlight" style="width: 40%">
    <img [src]=WomenFilePhoto height="250px" width="200px">
    <input type="file" (change)="uploadWomenPhoto($event)" class="mt-2"/>
  </div>
</div>
<button (click)="addWomenClothes()" *ngIf="womencl.MenClothesID==0" class="btn btn-primary">
  Add
</button>
<button (click)="updateWomenClothes()" *ngIf="womencl.MenClothesID!=0" class="btn btn-primary">
  Update
</button>
